.el-table .warning-row td{
    background:#F8ECDA !important;
    color:red
}
.el-table .delete-row td{
    background:var(--el-color-info-dark-2) !important;
    color:rgb(248, 247, 247)
}
.el-table .manager-row td{
    background: var(--el-color-danger-light-3) !important;
}
.el-table .title-row td {
    background: var(--el-color-warning-light-9) !important;
}

:deep(.ql-editor) {
    min-height: 180px;  

  }
  :deep(.ql-formats) {
    height: 21px;
    line-height: 21px;
  }
.ql-editor{
    max-height: 550px
}
