.el-table .warning-row td{
    background:#F8ECDA !important;
    color:red
}
.el-table .delete-row td{
    background:#4d4b49 !important;
    color:rgb(248, 247, 247)
}
.el-table .manager-row td{
    background: #e74c3e !important;
    color:rgb(233, 239, 237)
}
.el-table .title-row td {
    background: rgb(232, 157, 108) !important;
    color:rgb(233, 239, 237)
}

:deep(.ql-editor) {
    min-height: 180px;  

  }
  :deep(.ql-formats) {
    height: 21px;
    line-height: 21px;
  }

